
<header class="topicsHeader">

    <!--Topics Language Title-->
    <div class="topicsHeaderLeft">

        {{#with category}}

            <span>{{categoryname}} Topics</span>
        
        {{/with}}

    </div>

    <!--Return Links-->
    <div class="topicsHeaderRight">

        <div class="topicsHeaderRightWrapper">

            <a href="/">Return Home</a>

            <a href="/category/{{category.id}}">Return to Topics</a>

        </div>

    </div>

</header>


<center>

    <!--Create New Topic Form-->
    <div class="topicForm">

        <form action="/category/{{category.id}}/new-topic" method="POST">

            <input type="hidden" name="id" value="{{category.id}}">

            <br>

            <span>Topic Title</span>

            <br>

            <input type="text" name="topictitle">

            <br>

            <span>Topic Comment</span>

            <br>

            <input type="text" name="topiccontent">

            <br>
            <br>

            <input type="submit">
            <input type="reset">

        </form>

    </div>

</center>