<!--Header Content-->
<header>

    <div class="customHeaderLeft">
        <!--Title Logo-->
        <span>{{title}}</span>

    </div>

    <div class="customHeaderRight">
        <!--Login Button-->
        <a href="">Login</a>

    </div>

</header>