<header class="topicsHeader">

    <!--Topics Language Title-->
    <div class="topicsHeaderLeft">

        {{#with category}}

            <span>{{categoryname}} Topics</span>
        
        {{/with}}

    </div>

    
    <!--Create New Post-->
    <div class="topicsHeaderRight">

        <a href="/{{id}}/new-topic">Create New Topic</a>

    </div>

</header>