<header class="topicsHeader">

    <!--Topics Language Title-->
    <div class="topicsHeaderLeft">

        {{#with category}}

            <span>{{categoryname}} Topics</span>
        
        {{/with}}

    </div>

    
    <!--Create New Post-->
    <div class="topicsHeaderRight">

        <a href="/{{id}}/new-topic">Create New Topic</a>

    </div>

</header>




<!--Topics-->
<div class="topicsListWrapper">

    <!--Topics Selection-->
    {{#each topics}}
    <div class="topicsList">

        <div class="topicsListRow">

            <a href="/{{id}}">{{topictitle}}</a>

            <br>

            <span>Created By:</span>

            <br>

        </div>

    </div>

    {{/each}}

</div>